#highScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
  }
  
  .high-score {
    font-size: 2.8rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    border-bottom: 0.1rem rgba(0, 0, 255, 0.388) solid;
    padding-bottom: 0.5rem;
    width: 40rem;
  }
  
  .high-score:hover {
      border-bottom:0.1rem rgb(0, 0, 255) solid;
    transform: scale(1.025);
  }
  